<div class="margin-small-bottom@min-phone">
    <div class="view width-1-1" [ngClass]="{ 'bg-transparent': gridView }">
        <div *ngIf="!gridView">
            <div *ngIf="busy" class="padding-medium text-center">
                <app-icon class="spinner primary-color" name="spinner" size="3.0"></app-icon>
            </div>
            
            <table *ngIf="!busy" class="table table-striped animation-fade">
                <thead>
                    <tr>
                        <th class="table-shrink">No</th>
                        <th class="table-shrink">Name</th>
                        <th class="table-shrink hidden@max-tablet">Email</th>
                        <th class="table-shrink hidden@max-tablet">Date</th>
                        <th class="table-expand hidden@max-phone">Comment</th>
                        <th class="table-shrink hidden@max-tablet">Edit</th>
                        <th class="table-shrink hidden@max-tablet">Allowed</th>
                        <th class="table-shrink">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list; let i = index">
                        <td class="text-center">{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td class="hidden@max-tablet">{{ item.email }}</td>
                        <td class="hidden@max-tablet">{{ item.date }}</td>
                        <td class="hidden@max-phone">{{ item.comment }}</td>
                        <td class="text-center table-button hidden@max-tablet"><app-icon class="text-middle" name="pencil"></app-icon></td>
                        <td class="text-center hidden@max-tablet">{{ item.allowed }}</td>
                        <td class="text-center table-button" (click)="openModal(item.id, i)"><app-icon class="text-middle" name="close"></app-icon></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div *ngIf="gridView" class="grid">
            <div *ngFor="let item of list; let i = index" class="item">
                <div class="content">
                    <div class="id">{{ item.id }}</div>
                    <div class="name">{{ item.name }}</div>
                    <div class="details">{{ item.email }}</div>
                    <div class="details">{{ item.date }}</div>
                    <div class="tools">
                        <button class="shrink"><app-icon class="position-center" name="pencil"></app-icon></button>
                        <button class="shrink margin-small-left" (click)="openModal(item.id, i)"><app-icon class="position-center" name="close"></app-icon></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" [ngClass]="{ 'open': modal }">
        <div class="modal-dialog modal-body animation-slide-top">
            <h2 class="modal-title">Delete row</h2>
            <p>Are you sure you want to permanently delete this row?</p>
            <p class="text-right margin-top">
                <button (click)="closeModal()" class="not-shrink" type="button">Cancel</button>
                <button (click)="delete()" class="primary margin-small-left not-shrink" type="button" [disabled]="busyModal">
                    <span *ngIf="!busyModal">Confirm</span>
                    <app-icon *ngIf="busyModal" class="spinner" name="spinner"></app-icon>
                </button>
            </p>
        </div>
    </div>
</div>

<div class="grid-button" (click)="toggleView()">
    <app-icon *ngIf="!gridView" class="position-center" name="grid" size="1.4"></app-icon>
    <app-icon *ngIf="gridView" class="position-center" name="list" size="1.4"></app-icon>
</div>